#menu-container
	#logo <span class="e">E</span> <span class="l">L</span> <span class="f">F</span> <span class="d">D</span> <span class="e2">E</span> <span class="v">V</span>
	#rings
		.ring-1 
			.date
			.spoke
				.displayer
			.spoke
				.displayer
		.ring-2
		.ring-group
			.ring-3
			.ring-3-2
			.ring-3-3
		.ring-group
			.ring-4
			.glow
		.ring-5
	#left-menu
		= link_to '<div class="square-btn" id="status">Sports</div>'.html_safe, sports_path
		#journal.square-btn
			Journal
		#recipe.square-btn
			Foods
	#right-info
		.row Current City: Edmonton
		.row Next Wish Item: Mac Book Pro 15" 2014
		.row Next Recipe to Try: Pumpkin bisque
		.row Last Cook: 2 days ago
		.row Last Flight: 1 weeks ago
		.row.link [<span class="link-symbol">+</span>] Twitter
		.row.link [<span class="link-symbol">+</span>] Instagram
		.row.link [<span class="link-symbol">+</span>] LinkedIn
		.row#clock
			.time
			.zone