%sidebar
	#brand E L F D E V
	#menu
		%span.selection
		%ul.menulist
			%li#numbers.item
				= link_to '<div class="title">Numbers</div><div class="subtitle">Body & fitness status</div>'.html_safe, sports_path
			%li#places.item
				.title Places
				.subtitle Journey logs
			%li#words.item
				.title Words
				.subtitle Ideas & thoughts
	%footer
		.about 
			= link_to 'About', '#'
		.twitter 
			= link_to '<i class="fa fa-twitter"></i>'.html_safe, '#'


#static-layer
	#circle-bg
		.numbers-spinner.spinner
			.info
				.date AUG, 2014
				.btn.btn-darkgrey SEE ALL
		.places-spinner.spinner
			.mask
				#map
			.info
				.date AUG, 2024
				.btn.btn-darkgrey SEE ALL
		.words-spinner.spinner
			.info
				%h3 The Making of Elfdev
				.intro
					This is the story of designing & launching this site while traveling around the world, continued from part 1.
				.btn.btn-darkgrey.center READ
		.rings
			.ring
#dynamic-layer
	.summary
		.row1
			.preview
				.status
					.numbers-content.content
						<span class="highlight">99,123</span> steps
					.places-content.content
					.words-content.content					
			.preview
				.status
					.numbers-content.content
						<span class="highlight">5</span> runs
					.places-content.content.photo
						%img{src: image_url("nepal.jpg") }
						%small <span class="highlight">5</span> days ago
					.words-content.content
			.preview
				.status
					.numbers-content.content
						<span class="highlight">65</span> bpm
					.places-content.content
					.words-content.content
		.row2
			.preview
				.status
					.numbers-content.content
						slept <span class="highlight">7.2</span> hours
					.places-content.content
						Now at <span class="highlight">Home</span>
					.words-content.content
						<span class="highlight">1</span> posts