%sidebar
	#brand E L F D E V
	#menu
		%span.selection
		%ul.menulist
			%li#numbers.item
				= link_to '<div class="title">Numbers</div><div class="subtitle">Body & fitness status</div>'.html_safe, sports_path
			%li#places.item
				.title Places
				.subtitle Journey logs
			%li#words.item
				.title Words
				.subtitle Ideas & thoughts
	%footer
		.about 
			= link_to 'About', '#'
		.twitter 
			= link_to '<i class="fa fa-twitter"></i>'.html_safe, '#'


.spinner-container
	#circle-bg
		.numbers-spinner.spinner
			.info
				.preview
					.status <span class="highlight">320,000</span> steps
				.preview
					.status <span class="highlight">59</span> runs
				.preview
					.status <span class="highlight">65</span> bpm
				.last-updated
					Last updated 2 days ago
				.btn.btn-darkgrey SEE ALL
		.places-spinner.spinner
			.mask
				#map
			.info
				.nowat
					%span.highlight Home
					%span Edmonton, Canada
				.bottom
					.last-updated Updated 2 days ago
					.btn.btn-darkgrey MORE
				.preview
					.status
						.photo
							%img{src: image_url("nepal.jpg") }
							.img-text
								%small <span class="highlight">Pokhara, Nepal</span>
								%small <span class="highlight">5</span> days ago

		.words-spinner.spinner
			.info
				%h3 The Making of Elfdev
				.intro
					This is the story of designing & launching this site while traveling around the world, continued from part 1.
				.btn.btn-darkgrey.center READ
				.preview
					.status <span class="highlight">5</span> posts
		.rings
			.ring
		.indicators
			#numbers-indicator.indicator <span>Numbers</span>
			#places-indicator.indicator <span>Places</span>
			#words-indicator.indicator <span>Words</span>