#menu-container
	#rings
		.ring-1 
			.date
			.spoke
				.displayer
			.spoke
				.displayer
		.ring-2
		.ring-group
			.ring-3
			.ring-3-2
			.ring-3-3
		.ring-group
			.ring-4
			.glow
		.ring-5
	#left-menu
		#status.square-btn
			Recent Status
		#journal.square-btn
			Recent Posts
		#idea.square-btn
			Idea Collection
	#right-info
		.row Current City: Edmonton
		.row Temperature: 25 C
		.row Percipitation: 75 %
		.row Humidity: 75 %
		.row Wind: 5 km/h
		.row.link [<span class="link-symbol">+</span>] Twitter
		.row.link [<span class="link-symbol">+</span>] Instagram
		.row.link [<span class="link-symbol">+</span>] LinkedIn
		.row#logo E L F D E V
		.row#clock