html {
  height: 100%;
}

body {
  font-family: 'Open Sans Condensed', "Futura", sans-serif;
  font-size: 10px;
  background-color: $darkblue;
  color: $white;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.center {
  margin: auto;
}

footer {
  color: $greyblue;
  font-size: 1.8em;
}

footer > div {
  display: inline-block;
}

footer a:hover {
  color: lighten($greyblue, 20%);
}