$white: #fff;
$black: #000;
$darkgrey: #333;
$darkblue: #0e072d;
$iceblue: #a8c3e2;
$greyblue: #85909e;
$lightblue: #44b6e8;
$blue: darken(#3f76bb, 15%);
$grey: #cdcdcd;
$yellow: #33f799;

$col-width: 1280px / 10;