@import "bootstrap_configuration";
@import "compass/css3";
@import "modules";
$ring-1-color: #00b8b6;
$ring-2-color: #fff;

@include keyframe(rotate) {
	0% {
		@include rotate(0deg);
	}

	100% {
		@include rotate(360deg);
	}
}

@include keyframe(inverse-rotate) {
	0% {
		@include rotate(0deg);
	}

	100% {
		@include rotate(-360deg);
	}	
}

.display {
	opacity: 1 !important;
}

#menu-container {
	position: relative;
	width: 980px;
	height: 600px;
	margin: auto;
}

#rings {
	position: absolute;
	margin-left: calc(50% - 300px);
	width: 600px;
	height: 600px;
	overflow: hidden;
}

#rings .ring-1 {
	width: 100px;
	height: 100px;
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 50px);	
	border: 2px solid $ring-1-color;
	border-radius: 100%;
	background-color: transparentize($ring-1-color, 0.3);
	@include box-shadow(0 0 100px $ring-1-color);
	z-index: 1;

	.date {
		pointer-events: none;
		font-size: 1.5em;
		color: orange;
		text-align: center;
		line-height: 25px;
		margin-top: 20px;
		.day {
			display: block;
			color: $text-color-2;
			line-height: 30px;
			font-size: 1.4em;
		}
	}
}

.spoke {
	position: absolute;
	top: 50px;
	left: 50px;
	display: inline-block;
	width: 5px;
	height: 100px;
	padding-top: 50px;
	opacity: 0;
	pointer-events: none;
	z-index: 2;
	@include transition-property(all);
	@include transform-origin(top center 0);
	@include transition-duration(300ms);
}

.displayer {
	position: absolute;
	font-size: 0.8em;
	width: 60px;
	height: 60px;
	margin-top: 5px;
	left: -30px;
	border: 2px solid $text-color-3;
	border-radius: 100%;
	color: $text-color-3;
	background-color: transparentize($text-color-3, 0.7);
	text-align: center;
	@include transition-property(transform);
	@include transition-duration(300ms);

	.number {
		display: block;
		font-size: 1.5em;
		color: $text-color-2;
		width: 100%;
		margin-top: 10px;
		text-align: center;
	}
}

.ring-1 .spoke:nth-child(2) {
	// left: -10px;
}

.ring-1 .spoke:nth-child(3).display {
	// left: 60px;
	@include rotate(-50deg);
	.displayer {
		@include rotate(50deg);
	}
}

#rings .ring-2 {
	width: 300px;
	height: 300px;
	position: absolute;
	top: calc(50% - 150px);
	left: calc(50% - 150px);	
	border: 2px dashed $ring-1-color;
	border-radius: 100%;
	@include infinite-animation(0, 240s, linear, rotate);
}

#rings .ring-3 {
	width: 400px;
	height: 400px;
	position: absolute;
	top: calc(50% - 200px);
	left: calc(50% - 200px);	
	border: 3px solid $ring-1-color;
	border-radius: 100%;
}

#rings .ring-3-2 {
	width: 390px;
	height: 390px;
	position: absolute;
	top: calc(50% - 195px);
	left: calc(50% - 195px);	
	background: image-url("partial-ring.png");
	background-size: 390px 390px;
	@include infinite-animation(0, 30s, linear, inverse-rotate);
}

#rings .ring-3-3 {
	width: 380px;
	height: 380px;
	position: absolute;
	top: calc(50% - 190px);
	left: calc(50% - 190px);	
	border: 3px solid $ring-1-color;
	border-radius: 100%;
}

#rings .ring-group .ring-4 {
	width: 800px;
	height: 800px;
	position: absolute;
	top: calc(50% - 400px);
	left: calc(50% - 400px);
	background: image-url("ruler-ring.png");
	background-size: 800px 800px;
	background-position:-1px -1px;
	@include infinite-animation(0, 240s, linear, rotate);
}

#rings .ring-group .glow {
	width: 474px;
	height: 474px;
	position: absolute;
	top: calc(50% - 238px);
	left: calc(50% - 238px);	
	border: 0 solid $ring-1-color;
	border-radius: 100%;
	@include box-shadow(inset 0 0 25px $ring-1-color);
}

#rings .ring-5 {
	width: 560px;
	height: 560px;
	position: absolute;
	top: calc(50% - 280px);
	left: calc(50% - 280px);	
	border: 3px solid transparentize($ring-2-color, 0.9);
	border-radius: 100%;
}

#left-menu {
	position: absolute;
	top: 25%;
	left: 10%;
	width: 200px;
	z-index: 1;
	div {
		margin: 50px 0;
	}
	div:nth-child(1) {
		margin-left: 20px;
	}

	div:nth-child(2) {
		margin-left: 10px;
	}

	div:nth-child(3) {
		margin-left: 40px;
	}
}

.square-btn {
	display: inline-block;
	padding: 0 10px;
	text-align: center;
	border: 1px solid $brand-primary;
	@include box-shadow(0 0 10px $brand-primary);
	cursor: pointer;
	&:hover {
		background-color: transparentize($brand-primary, 0.2);
		color: $text-highlight-color;
		@include box-shadow(0 0 20px $brand-primary);
	}
}

#right-info {
	position: absolute;
	top: 25%;
	right: 0;
	width: 250px;
	z-index: 1;
	font-size: 0.8em;
	color: $text-color-2;
}

#right-info .row:nth-child(1) {
	margin-left: 0em;
}

#right-info .row:nth-child(2) {
	margin-left: 0.5em;
}

#right-info .row:nth-child(3) {
	margin-left: 1em;
}

#right-info .row:nth-child(4) {
	margin-left: 1.5em;
}

#right-info .row:nth-child(5) {
	margin-left: 2em;
}

#right-info .row:nth-child(6) {
	margin-top: 2em;
	margin-left: 2.5em;
}

#right-info .row:nth-child(7) {
	margin-left: 3em;
}

#right-info .row:nth-child(8) {
	margin-left: 3.5em;
}

@include keyframe(flash) {
	0% {opacity:0.45}
	30% {opacity:0.9}
	100% {opacity:0.21}
}

#logo {
	margin-top: 5em;
	margin-left: 1em;
	font-size: 2em;
	color: $text-color-3;
	span {
		opacity: 0.45;
	}
	$animation-duration: 4.5s;
	.e { @include infinite-animation(0, $animation-duration, ease, flash); }
	.l { @include infinite-animation(100ms, $animation-duration, ease, flash); }
	.f { @include infinite-animation(200ms, $animation-duration, ease, flash); }
	.d { @include infinite-animation(300ms, $animation-duration, ease, flash); }
	.e2 { @include infinite-animation(400ms, $animation-duration, ease, flash); }
	.v { @include infinite-animation(500ms, $animation-duration, ease, flash); }
}

#clock {
	margin-top: 1em;
	margin-left: 0em;
	font-size: 1.5em;
}

@include keyframe(flipflap) {
	0% {
		@include rotateY(0deg);
	}

	100% {
		@include rotateY(360deg);
	}	
}

#right-info .link {
	width: 100px;
	cursor: pointer;
}

#right-info .link:hover .link-symbol {
	color: $text-color;
	@include infinite-animation(0, 1.5s, linear, flipflap);
}