$menu-top: 200px;
$status-size: 190px;
$loading-duration: 500ms;

#landings {

  sidebar {
    position: fixed;
    left: 10%;
    min-height: 100%;
  }

  sidebar #brand {
    position: absolute;
    font-size: 2.4em;
    color: $grey;
    margin-top: 50px;
  }

  sidebar #menu {
    width: 440px;
    margin-top: $menu-top;
    background-position: 100px;
    background-repeat: no-repeat;
  }

  .menulist {
    margin: 0;
    padding: 0;

    & li {
      padding: 0;
      list-style-type: none;   
    }
  }

  .selected-numbers #menu {
    background-image: image_url('body.png');
  }

  .selected-places #menu {
    background-image: image_url('place.png');
  }

  .selected-words #menu {
    background-image: image_url('thought.png');
  }

  .selected-numbers .selection {
    @include translateY(0px);
  }

  .selected-places .selection {
    @include translateY(120px);
  }

  .selected-words .selection {
    @include translateY(240px);
  }

  #menu .selection {
    position: absolute;
    width: 5px;
    height: 82px;
    margin-top: 4px;
    margin-left: -20px;
    background-color: $lightblue;
    border-radius: 5px;
    @include box-shadow(0 0 3px 1px lighten($lightblue, 15%));
  }

  .menulist {
    position: relative;
  }

  .menulist .title {
    color: $white;
    font-size: 3.2em;
    -webkit-backface-visibility: hidden;
  }

  .menulist .subtitle {
    color: $iceblue;
    font-size: 1.8em;
    margin-top: -0.3em;
    -webkit-backface-visibility: hidden;
  }

  .menulist > .item {
    height: 120px;
    cursor: pointer;
  }

  #static-layer {
    position: absolute;
    width: 520px;
    min-height: 100%;
    right: 5%;
  }

  .spinner {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .selected-numbers .numbers-spinner {
    opacity: 1;
  }

  .selected-places .places-spinner {
    opacity: 1;
  }

  .selected-words .words-spinner {
    opacity: 1;
  }

  $bg-circle-size: 480px;
  #circle-bg {
    position: relative;
    width: $bg-circle-size;
    height: $bg-circle-size;
    margin: ($menu-top + 50) auto 0 auto;
    background-color: $lightblue;
    border-radius: 100%;
    border-color: transparent;
    z-index: 2;
  }

  #circle-bg .rings {
    .ring {
      position: absolute;
      top: -30px;
      left: -30px;
      width: $bg-circle-size + 40;
      height: $bg-circle-size + 40;
      border: 10px solid $white;
      border-radius: 100%;
      border-top-color: lighten($blue, 15%);
    }
  }

  .numbers-spinner .info {
    position: absolute;
    top: 50%;
    height: 100px;
    left: 80px;
    width: 100%;
    margin-top: -50px;

    .date {
      color: $black;
      font-size: 6.4em;
    }
  }

  .places-spinner .mask {  
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
    z-index: 2;
  }

  .places-spinner #map {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .places-spinner .info {
    position: absolute;
    top: 50%;
    height: 100px;
    left: 80px;
    width: 100%;
    margin-top: -50px;
    z-index: 3;

    .date {
      color: $black;
      font-size: 6.4em;
    }
  }

  .words-spinner .info {
    position: absolute;
    top: 50%;
    width: 360px;
    height: 300px;
    left: 60px;
    margin-top: -150px; 

    h3 {
      font-size: 3.2em;
      color: $black;
    }

    .intro {
      font-size: 2.4em;
      color: lighten($black, 15%);
    }
  }

  #dynamic-layer {
    position: absolute;
    height: 100%;
    right: 9%;
    .row1 {
      padding-top: 160px;
      position: relative;
    }
    .row2 {
      padding-top: 80px;
      margin-left: 120px;
      position: relative;
    }
  }

  #dynamic-layer .summary {
    width: 100%;
    min-height: 100%;


  }

  .preview {
    position: relative;
    position: relative;
    display: inline-block;
    z-index: 3;
  }

  .status {
    position: relative;
    width: $status-size;
    height: $status-size;
    border-radius: 100%;
    line-height: $status-size;
    text-align: center;
    margin-left: 80px; 
    background-color: $blue;
    border: 15px solid $darkblue;
    font-size: 2.4em;
    color: $lightblue;
    @include rotate(90deg);
    @include transition-duration(300ms);
    @include transition-property(all);
    opacity: 0;
    overflow: hidden;
    z-index: 2;

    & .highlight {
      color: $white;
      font-size: 1.2em;
    }

    &:hover {
      background-color: lighten($blue, 10%);
    }
  }

  .row1 .preview:first-child .status {
      margin-left: 0;
  }

  .status .content {
    opacity: 0;
    @include transition-duration(300ms);
    @include transition-property(all);
  }

  .photo {
    position: relative;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    img {
      width: $status-size * 2;
      margin-left: -$status-size / 2;
      margin-top: -$status-size / 2;
      @include transition-property(transform);
      @include transition-duration(500ms);
    }
    small {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
      line-height: 40px;
      font-size: 1em;
      background-color: transparentize($black, 0.5);
      background-repeat: no-repeat;
      z-index: 1;
      @include transition-property(transform);
      @include transition-duration(500ms);
    }

    &:hover img {
      @include scale(0.67);
    }
    &:hover small {
      @include translateY(100px);
    }
  }

  .selected-numbers {
    & .status {
      opacity: 1;
      @include rotate(0deg);
    }
  }

  .selected-places {
    & .row1 .preview:nth-child(2) .status {
      opacity: 1;
      @include rotate(0deg);
    }

    & .row2 .preview:nth-child(1) .status {
      opacity: 1;
      @include rotate(0deg);
    }
  }

  .selected-words {
    & .row2 .status:nth-child(1) {
      opacity: 1;
      @include rotate(0deg);
    }
  }

  .selected-numbers .ring {
    @include rotate(0deg);
  }

  .selected-places .ring {
    @include rotate(120deg);
  }

  .selected-words .ring {
    @include rotate(240deg);
  }

  .numbers-content, .places-content, .words-content {
    width: $status-size;
    position: absolute;
    opacity: 0;
  }

  .selected-numbers .numbers-content {
    opacity: 1 !important;
  }

  .selected-places .places-content {
    opacity: 1 !important;
  }

  .selected-words .words-content {
    opacity: 1 !important;
  }

  footer {
    position: absolute;
    bottom: 80px;
    -webkit-backface-visibility: hidden;
  }

  footer > div {
    margin-right: 20px;
  }

  // animations
  .ring {
    @include transition-property(all);
    @include transition-duration(300ms);
  }

  .preview {
    opacity: 0;
    @include transition-property(all);
    @include transition-duration($loading-duration);
    @include scale(1.5);
  }

  .preview:nth-child(1) {
    @include transition-delay(150ms);
  }

  .preview:nth-child(2) {
    @include transition-delay(300ms);
  }

  .preview:nth-child(3) {
    @include transition-delay(450ms);
  }

  &.loaded .preview {
    opacity: 1;
    @include scale(1);
  }

  #circle-bg {
    @include transition-property(all);
    @include transition-duration($loading-duration);
    opacity: 0;
    @include scale(0.7);
  }

  &.loaded #circle-bg {
    opacity: 1;
    @include scale(1);
  }

  #menu {
    @include transition-property(all);
    @include transition-duration($loading-duration/2);
    opacity: 0;
    @include translateY(-120px);
  }

  &.loaded #menu {
    opacity: 1;
    @include translateY(0);
  }

  #menu .selection {
    @include transition-property('all');
    @include transition-duration(250ms);
    @include transition-timing-function(cubic-bezier(0.145, 1.075, 0.345, 1.12));
  }

  .menulist .item:nth-child(1) {
    @include transition-property(all);
    @include transition-duration($loading-duration);
    @include transition-delay(200ms);
    @include translate(-200px);
    opacity: 0;
  }

  &.loaded .item:nth-child(1) {
      @include translate(0);
      opacity: 1;
  }

  .menulist .item:nth-child(2) {
    @include transition-property(all);
    @include transition-duration($loading-duration);
    @include transition-delay(400ms);
    @include translate(-200px);
    opacity: 0;
  }

  &.loaded .item:nth-child(2) {
      @include translate(0);
      opacity: 1;
  }

  .menulist .item:nth-child(3) {
    @include transition-property(all);
    @include transition-duration($loading-duration);
    @include transition-delay(600ms);
    @include translate(-200px);
    opacity: 0;
  }

  &.loaded .item:nth-child(3) {
      @include translate(0);
      opacity: 1;
  }

  #brand {
    opacity: 0;
    @include transition-property(all);
    @include transition-duration($loading-duration);
    @include transition-delay(1000ms);
    @include scale(1.5);
    -webkit-backface-visibility: hidden;
  }

  &.loaded #brand {
    opacity: 1;
    @include scale(1);
  }

  footer {
    opacity: 0;
    @include transition-property(all);
    @include transition-duration($loading-duration);
    @include transition-delay(1500ms);
    @include scale(1.5);
  }

  &.loaded footer {
    opacity: 1;
    @include scale(1);
  }
}